html,
body {
  font-family: "avenir Next Condensed", "Lato", Arial, Helvetica, sans-serif;
  background: #f7ffff;
  overflow: hidden;
  width: 100vw;
  overflow-y: scroll;
}

* {
  text-decoration: none !important;
  list-style: none !important;
}

ul {
  padding: 0;
}

/* ------------------------------------------------------------------ 
------------------------------- HEADER ------------------------------
------------------------------------------------------------------ */

header {
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.75);
  background: #474866;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  width: 100%;
  height: 80px;
  padding: 0 10%;
}

header .logo a {
  font-family: "Oswald", sans-serif;
  color: #a9abb8;
}

header .menu {
  display: flex;
}
header .menu .link {
  padding: 20px;
}

header .menu .link form button {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #a9abb8;
  cursor: pointer;
}
header .menu .link form button:hover {
  color: black;
}

header .menu a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 20px;
  color: #a9abb8;
  text-transform: uppercase;
}

header .menu a:hover {
  color: black;
}

header .menu .dropdown {
  position: relative;
}

header .menu .dropdown .sub-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 120px;
  border-radius: 3px;
}

header .menu .dropdown:hover .sub-menu,
header .menu .dropdown .sub-menu:hover {
  display: block;
}

header .menu .dropdown .sub-menu a {
  font-size: 1rem;
  color: black;
  display: block;
  padding: 10px;
  border-bottom: 2px solid rgb(235, 235, 235);
  transition: all 0.3s ease-in-out;
}
header .menu .dropdown .sub-menu a:hover {
  background: #030749;
  color: #a9abb8;
}

header .menu .dropdown .sub-menu .sub-link:nth-child(2) {
  border-bottom: none;
}

/* ------------------------------------------------------------------ 
------------------------------- DESCRIPTION -------------------------
------------------------------------------------------------------ */

#description {
  background: #26284d;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#description .container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  z-index: 2;
}

#description .container .name {
  z-index: 2;
  margin-bottom: 20px;
}

#description .container .name h1 {
  text-transform: uppercase;
  z-index: 2;
  color: #39a994;
  font-family: oswald;
  font-size: 5.5rem;
  font-weight: 900;
}

#description .container .about-me {
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.75);
  z-index: 2;
  background: #a9abb8;
  padding: 35px;
  border-radius: 15px;
}

#description .container .about-me p {
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}

/* ------------------------------------------------------------------ 
------------------------------- SKILLS ------------------------------
------------------------------------------------------------------ */

#skills {
  background: #29658b;
  width: 100%;
  padding-top: 20px;
}

#skills .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  padding: 25px 0;
  margin: 0 auto;
}

#skills .container h1 {
  text-transform: uppercase;
  color: #a9abb8;
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 20px;
}

#skills .container .skill-box {
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  background: #e7f5ff;
  padding: 15px 10px;
  margin-bottom: 25px;
}

#skills .container .skill-box img {
  width: 240px;
  height: 240px;
  margin-bottom: 25px;
}

/* ------------------------------------------------------------------ 
------------------------------- FOOTER ------------------------------
------------------------------------------------------------------ */

footer {
  background: #474866;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
}

footer .footer-menu,
footer .social-menu {
  width: 100%;
}

footer .footer-menu span,
footer .social-menu span {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #eef0fd;
}

footer .footer-menu ul,
footer .social-menu ul {
  display: flex;
  justify-content: center;
}
footer .footer-menu ul {
  margin-top: 7px;
}
footer .footer-menu ul li a,
footer .social-menu ul li a {
  font-size: 1rem;
  font-weight: 600;
  color: #a9abb8;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
}
footer .footer-menu ul li a:hover,
footer .social-menu ul li a:hover {
  color: #29658b;
  margin-right: 15px;
}

footer .social-menu .social-icons li i {
  background: #a9abb8;
  color: white;
  font-size: 1.3rem;
  padding: 12px 14px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
footer .social-menu .social-icons li:nth-child(1) i {
  margin-left: 15px;
}

footer .social-menu .social-icons li i:hover {
  background: #29658b;
  color: #030749;
}

/* ------------------------------------------------------------------ 
------------------------ MEDIA QUIERIES -----------------------------
------------------------------------------------------------------ */

/* TABLETS */
@media (min-width: 768px) and (max-width: 991px) {
  #description {
    width: 100%;
    height: 700px;
  }
  #description .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    z-index: 2;
  }
  #description .container .name h1 {
    text-transform: uppercase;
    z-index: 2;
    color: #39a994;
    font-size: 4.5rem;
    font-weight: 700;
  }
  #description .container .about-me p {
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
  }

  #skills .container h1 {
    text-transform: uppercase;
    color: #a9abb8;
    font-family: oswald;
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 25px;
  }
  #skills .container .skill-box img {
    width: 240px;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  #skills .container .skill-box p {
    padding: 0 15px;
    font-size: 1.2rem;
    font-weight: 500;
  }

  footer .row .col-lg-6 {
    display: inline-block;
    width: 50%;
  }
  footer .social-menu .social-icons li i {
    background: #a9abb8;
    color: white;
    font-size: 1.3rem;
    padding: 8px 10px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  footer .social-menu .social-icons li:nth-child(1) i {
    margin-left: 12px;
  }
}

/* LARGE PHONES */
@media (min-width: 576px) and (max-width: 767px) {
  header .logo {
    margin-right: 10px;
  }

  #description {
    width: 100%;
    height: 600px;
  }
  #description .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 80px;
    z-index: 2;
  }
  #description .container .name h1 {
    text-transform: uppercase;
    z-index: 2;
    color: #39a994;
    font-size: 3.2rem;
    font-weight: 700;
  }
  #description .container .about-me p {
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
  }

  #skills .container h1 {
    text-transform: uppercase;
    color: #a9abb8;
    font-family: oswald;
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 25px;
  }
  #skills .container .skill-box img {
    width: 240px;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  #skills .container .skill-box p {
    padding: 0 15px;
    font-size: 1.2rem;
    font-weight: 500;
  }

  footer .row .col-lg-6 {
    display: inline-block;
    width: 50%;
  }
  footer .social-menu .social-icons li i {
    background: #a9abb8;
    color: white;
    font-size: 1.3rem;
    padding: 8px 10px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  footer .social-menu .social-icons li:nth-child(1) i {
    margin-left: 12px;
  }
}

/* SMALL PHONES */
@media (min-width: 1px) and (max-width: 575px) {
  header .logo {
    margin-right: 10px;
  }

  #description {
    width: 100%;
    height: 600px;
  }
  #description .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 80px;
    z-index: 2;
  }
  #description .container .name h1 {
    text-transform: uppercase;
    z-index: 2;
    color: #39a994;
    font-size: 3.2rem;
    font-weight: 700;
  }
  #description .container .about-me p {
    color: black;
    font-size: 1rem;
    font-weight: 500;
  }

  #skills .container h1 {
    text-transform: uppercase;
    color: #a9abb8;
    font-family: oswald;
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 25px;
  }
  #skills .container .skill-box img {
    width: 240px;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  #skills .container .skill-box p {
    padding: 0 15px;
  }

  footer .row .col-lg-6 {
    display: inline-block;
    width: 50%;
  }
  footer .social-menu .social-icons li i {
    background: #a9abb8;
    color: white;
    font-size: 1.3rem;
    padding: 8px 10px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  footer .social-menu .social-icons li:nth-child(1) i {
    margin-left: 12px;
  }
}
